.overlay_con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hud_con {
  position: absolute;
  top: 25px;
  left: 25px;
}

.hud_title {
  font-family: caesar;
  font-size: 32px;
  margin: 0;
  transform: rotateZ(-10deg);
  color: #7FDC68;
}

.hud_text {
  font-family: marker;
  font-size: 62px;
  margin-top: 0px;
  margin-bottom: 30px;
  transform: rotateZ(-10deg);
  color: #FF5C00;
}

.game_mode {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.play_pause {
  width: 50px;
  height: 50px;
}

.health_con {
  position: absolute;
  width: 200px;
  left: calc(50% - (200px/2));
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.health_progress_con {
  border-radius: 100px;
  width: 100%;
  height: 10px; 
  background-color: #690303;
  overflow: hidden;
  border:1px solid #690303;
}

.heatlh_percentage {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 24px;
  font-family: caesar;
  color: #FF5C00;
}

.health_progress {
  height: 100%;
  background-color: #7FDC68;
}

.health_bar_blink {
  animation: healthBlink 0.5s linear infinite;
}

@media only screen and (max-width:700px) {
  .hud_title {
    font-size: 24px;
  }

  .hud_text {
    font-size: 42px ;
  }

}

@keyframes healthBlink{
  0%{background-color: #7FDC68;}
  50%{background-color: #FF0000;}
  100%{background-color: #7FDC68;}
}